@model Spice.DataContarct.ViewModel.ForgotPassword_ViewModel
@{
    //Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
    ViewBag.Title = "ForgotPassword";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
        @*debugger;
        if ('@ViewBag.Result'!= "")
        {
            if ('@ViewBag.Result' == "1") {
                $('.dvError').show();
            }

        }
        $("#dvMsg").delay(2000).hide(0);*@

        $('#btnSubmitForgotpassword').click(function () {
           // window.location.href = "../ForgotPassword/VerifyUser/?Username=" + ($("#txtEmailId").val());
            //var url = "/ForgotPassword/VerifyUser/?Username=" + ($("#txtEmailId").val());
            //var myWind = open(url);
            $("#fgtpassword").attr("action", "/ForgotPassword/VerifyUser");
            $("#fgtpassword").submit();
        });
    })
</script>

<div class="card">
    @*<div id="dvMsg">
        <div class="alert alert-danger dvError">
            <div class="d-flex justify-content-start">
                <span class="alert-icon m-r-20 font-size-30">
                    <i class="anticon anticon-close-circle"></i>
                </span>
                <div>
                    <h5 class="alert-heading">Error</h5>
                    <p>Invalid Username</p>
                </div>
            </div>
        </div>
    </div>*@
    <div class="card-header">
        <h4 class="card-title">Forgot Password</h4>
    </div>
    <div class="card-body">
        <form id="fgtpassword">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label class="font-weight-semibold" for="txtEmailId"><b>Enter Mobile No</b></label>
                    <input type="text" class="form-control required validateMobile" name="forgotPassword.MobileNo" maxlength="10" id="txtEmailId" placeholder="Mobile No">
                    <span class="error"></span>
                </div>
                <div class="form-group col-md-3">

                    <button style="margin-top: 30px;" id="btnSubmitForgotpassword" class="btn btn-primary m-t-30">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>