@model Spice.DataContarct.ViewModel.FrontEndViewModel
<html>
<head>

</head>
<body>
    @*-----New Arrivals Products-----*@

    @{
        int skipIndex = 0;
        if (Model.RecentProductList != null)
        {
            var listCount = Convert.ToDouble(Model.RecentProductList.Count) / 2;
            if (listCount % 1 > 0)
            {
                listCount++;
            }
            for (int i = 0; i < ((int)listCount); i++)
            {
                if (i > 0)
                {
                   
                    skipIndex = skipIndex + 2;
                }
                var tmpList = Model.RecentProductList.Select(a => a).Skip(skipIndex).Take(2).ToList();
                foreach (var productItem in tmpList)
                {
                    <article class="list-product">
                        <div class="img-block">
                                <a href="FrontEnd/ProductDetails?pid=@productItem.ProductId" class="thumbnail">
                                    @*<img class="first-img" src="~/Assets/FrontEnd/images/133.jpg" alt="" />*@
                                    @if (!string.IsNullOrEmpty(productItem.UniqueFileName))
                                    {
                                        <img class="first-img" src="@Model.ProductImageDefaultPath/@productItem.UniqueFileName" alt="" />
                                    }
                                    else
                                    {
                                        <img class="first-img" src="~/Assets/FrontEnd/images/133.jpg" alt="" />
                                    }
                                    @*<img class="second-img" src="~/Assets/FrontEnd/images/109.jpg" alt="" />*@
                                </a>
                            @*<div class="quick-view">
                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </div>*@
                        </div>
                        @if (productItem.IsFeatured)
                        {
                        <ul class="product-flag">
                            <li class="new">New</li><br />
                        </ul>
                        }
                    <div class="product-decs">
                        @if (!string.IsNullOrEmpty(productItem.CategoryName))
                        {
                            <a class="inner-link" href="shop-4-column.html"><span>@productItem.CategoryName</span></a>
                        }
                        else
                        {
                            <a class="inner-link" href="shop-4-column.html"><span>@productItem.ProductName</span></a>
                        }
                        <h2><a href="FrontEnd/ProductDetails?pid=@productItem.ProductId" class="product-link">@productItem.ProductName</a></h2>
                        <div class="rating-product">
                            @if (productItem.Rating > 0)
                            {
                                for (int c = 0; c < productItem.Rating; c++)
                                {
                                    <i class="ion-android-star"></i>
                                }
                            }
                            else
                            {
                                //add empty star
                            }
                        </div>
                        <div class="pricing-meta">
                            <ul>
                                @*<li class="old-price">€18.90</li>*@
                                Starting From
                                @if (!string.IsNullOrEmpty(productItem.MinPrice))
                                {
                                    <li class="current-price">€@productItem.MinPrice</li>
                                }
                                else
                                {
                                    <li class="current-price">€0</li>
                                }
                                @*<li class="discount-price">-5%</li>*@
                            </ul>
                        </div>
                    </div>
                    </article>
                }
            }
        }
    }
   
</body>
</html>
